.form-container {
  width: 80%; 
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2.text-center {
  text-align: center;
}
.rolesText {
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #565C64;
  margin-bottom: 20px;
}
.large-btn {
font-size: 1.5rem;
padding: 10px 20px;
background-color: #565C64;
color: #FFD98E;
box-shadow: 0 0 10px #FFD98E;
border: 1px solid yellow;
margin-top: 3%;
border-radius: 20px;
}

.large-btn:hover {
background-color: #FFD98E;
color: #565C64;
box-shadow: 0 0 10px #565C64;
border: 1px solid #565C64;
}
.background {
  background-image: url("../../../assets/WelcomePage.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}
.headingText {
  font-size: 4.5vw;
  font-family: 'Lugrasimo', sans-serif;
  text-shadow: 2px 2px 10px #565C64;
  color: #FFD98E;
  margin-bottom: 5%;
  text-align: center;
  line-height: 1.2;
}
.loginButtonDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }
}
