.bill-container {
  padding: 20px;
  background-color: #f5f5f5;
  height: 700px;
  overflow-y: auto;
  
}

.bill-section {
  margin-bottom: 20px;
}

.bill-info {
  font-size: 16px;
}

.bill-table {
  font-size: 14px;
}

.bill-section:last-child {
  text-align: right;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.background{
  background-image: url("../../../assets/WelcomePage.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
