@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.background {
  background-image: url("../../assets/WelcomePage.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.mainContainer {
  margin-top: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  width: 50%;
  justify-items: center;

  padding: 10px;
}

.customerContainer {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 20px;
  border: 10px solid #FFD98E;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 50px #FFD98E;
}

.kitchenContainer {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;

  border: 10px solid #FFD98E;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 50px #FFD98E;
}

.large-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #565C64;
  color: #FFD98E;
  box-shadow: 0 0 10px #FFD98E;
  border: 1px solid yellow;
  margin-top: 3%;
  border-radius: 20px;
}

.large-btn:hover {
  background-color: #FFD98E;
  color: #565C64;
  box-shadow: 0 0 10px #565C64;
  border: 1px solid #565C64;
}

.headingText {
  font-size: 4.5vw;
  font-family: 'Lugrasimo', sans-serif;
  text-shadow: 2px 2px 10px #565C64;
  color: #FFD98E;
  margin-bottom: 5%;
  text-align: center;
  line-height: 1.2;
}

.rolesText {
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #565C64;
  margin-bottom: 20px;
  text-align: center;
}
