.container {
  max-width: 1000px;
}

.background {
  background-image: url(../../../assets/WelcomePage.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
.ctrlButton{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headingButton {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.menu-form {
  width: 40%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
}

h1 {
  color: #333;
}

.form-group label {
  font-weight: bold;
}

.menu-form .btn-primary {
  width: 100%;
}

.menu-form .form-check-input {
  margin-top: 8px;
}

.container {
  max-width: 800px;
  margin-top: 20px;
}

h1 {
  color: #333;
}

.menu-form {
  width: 70%;
  margin: 20px auto;
}

.table {
  font-weight: bolder;
  margin-top: 20px;
}

.large-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  height: fit-content;
  width: fit-content;
  background-color: #565C64;
  color: #FFD98E;
  box-shadow: 0 0 10px #FFD98E;
  border: 1px solid yellow;
  margin-top: 3%;
  border-radius: 20px;
}

.headingText {
  font-size: 3.5vw;
  font-family: 'Lugrasimo', sans-serif;
  text-shadow: 2px 2px 10px #565C64;
  color: #FFD98E;
  margin-bottom: 5%;
  text-align: center;
  line-height: 1.2;
}

.large-btn:hover {
  background-color: #FFD98E;
  color: #565C64;
  box-shadow: 0 0 10px #565C64;
  border: 1px solid #565C64;
}

.btn-primary {
  float: right;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

table,
th,
tr,
td {
  background-color: transparent;
}
